# 1 get tools first

In [1]:
import pymysql
import sqlalchemy
from sqlalchemy import inspect
from sqlalchemy import create_engine
import pandas as pd

# create a connection string 
create an action string to connect python to sql, so we can get data from sql
- user name for mysql
- password for mysql 
- schema (bank)
- port (local host)
- dialect pymysql
- driver sqlalchemy
- sql query to get tables

In [2]:
import getpass #optional - to anonymize the password

In [52]:
password = getpass.getpass()

········

# set up connection string

In [53]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/bank'  #if you don't use the getpass, you don't need to include the passowrd
# 'dialect+driver://username:password@port/schema'
engine = create_engine(connection_string)

In [54]:
df=pd.read_sql_query('SELECT * FROM loan', engine)
#this is how we test to see if it works

In [55]:
df

     loan_id  account_id    date  amount  duration  payments status
0       5314        1787  930705   96396        12    8033.0      B
1       5316        1801  930711  165960        36    4610.0      A
2       6863        9188  930728  127080        60    2118.0      A
3       5325        1843  930803  105804        36    2939.0      A
4       7240       11013  930906  274740        60    4579.0      A
..       ...         ...     ...     ...       ...       ...    ...
677     4989         105  981205  352704        48    7348.0      C
678     5221        1284  981205   52512        12    4376.0      C
679     6402        6922  981206  139488        24    5812.0      C
680     5346        1928  981206   55632        24    2318.0      C
681     6748        8645  981208  240900        60    4015.0      C

[682 rows x 7 columns]

In [56]:
from sqlalchemy import inspect

In [57]:
insp=inspect(engine)

In [58]:
#see table name in any database
print(insp.get_table_names())

['account', 'card', 'client', 'disp', 'district', 'loan', 'order', 'trans']

In [60]:
print(insp.get_columns('loan','bank'))

[{'name': 'loan_id', 'type': INTEGER(), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}, {'name': 'account_id', 'type': INTEGER(), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}, {'name': 'date', 'type': INTEGER(), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}, {'name': 'amount', 'type': INTEGER(), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}, {'name': 'duration', 'type': INTEGER(), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}, {'name': 'payments', 'type': FLOAT(), 'default': None, 'comment': None, 'nullable': True}, {'name': 'status', 'type': TEXT(collation='utf8mb4_unicode_ci'), 'default': None, 'comment': None, 'nullable': True}]

In [62]:
#retrieve list of columns names
insp.get_columns('loan','bank')[0].keys()

dict_keys(['name', 'type', 'default', 'comment', 'nullable', 'autoincrement'])

In [63]:
len(insp.get_columns('loan','bank')) #to know how many columns are in a table of a sql database

7

In [67]:
#for loop
#which collects each column name and stores in list
columns = []
for i in range(len(insp.get_columns('loan','bank'))):
    colname = insp.get_columns('loan','bank')[i]['name']
    columns.append(colname)

columns

['loan_id', 'account_id', 'date', 'amount', 'duration', 'payments', 'status']