# ANOVA LAB: part 1

- State the null hypothesis:
    - H0: μ1 = μ2 = μ3,  where μ1, μ2, μ3 are the mean of the etching rates for each power levels. 
- State the alternate hypothesis:
    - HA: At least one etching rate mean is statistically different from the other etching rate means. 
- What is the significance level:
    - the significance level is usually p = .05, but can be lower (as in .01, .001 etc..)
- What are the degrees of freedom of model, error terms, and total DoF:
    - the degrees of freedom of the model: 2
    - error terms:
    - total degrees of freedom: 12

# ANOVA LAB: part 2
- In this section, use Python to conduct ANOVA.
- What conclusions can you draw from the experiment and why?

In [2]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [42]:
df= pd.read_excel('anova_lab_data.xlsx', sheet_name='data_collected')
df

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [43]:
df.rename(columns={'Etching Rate': 'Etching_Rate', 'Power ':'Power'},inplace=True, errors='raise')
#model = ols('Percent_increase_in_sales ~ C(Display_design)', data = df).fit()

In [44]:
df['Power'] = df['Power'].str.replace(' W','')

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Power         15 non-null     object
 1   Etching_Rate  15 non-null     float64
dtypes: float64(1), object(1)
memory usage: 368.0+ bytes

In [49]:
df[['Power']].astype(int)

    Power
0     160
1     180
2     200
3     160
4     180
5     200
6     160
7     180
8     200
9     160
10    180
11    200
12    160
13    180
14    200

In [50]:
model = ols('Etching_Rate ~ C(Power)', data = df).fit()

In [51]:
results_table= sm.stats.anova_lm(model)

In [52]:
results_table

            df     sum_sq   mean_sq          F    PR(>F)
C(Power)   2.0  18.176653  9.088327  36.878955  0.000008
Residual  12.0   2.957240  0.246437        NaN       NaN

- What conclusions can you draw from the experiment and why?
Considered the p-values is <.05, we conclude that there is a statistically significant difference among the mean etching rate depending on the power levels.

Given that F statistics (36.88) is > than F critical value of this case (3.89), we reject the null hypothesis.