# imbalanced data

In [2]:
import pymysql
import sqlalchemy
from sqlalchemy import inspect
from sqlalchemy import create_engine
import pandas as pd

In [4]:
df = pd.read_csv('strokes_data.csv')

In [5]:
df['stroke'].value_counts()

0    42617
1      783
Name: stroke, dtype: int64

#methods to mitigate class imbalance
- downsampling (use less samples from the majority class)
- upsampling (simulate new data to

# EDA / identify problems and fix these - with LOG REG
- drop duplicates
- replace nulls
- encode strings as numbers
- (optional) scale numeric variables

In [26]:
def EDA(df):
    df.info()
    no_dupl = df.duplicated().value_counts()
    df.columns=df.columns.str.lower()
    df.columns=df.columns.str.replace(' ','_', regex=True)
    no_nulls=df.isnull().sum()
    return (df.info(), no_dupl, no_nulls)

In [28]:
EDA(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43400 entries, 0 to 43399
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 43400 non-null  int64
 1   gender             43400 non-null  object
 2   age                43400 non-null  float64
 3   hypertension       43400 non-null  int64
 4   heart_disease      43400 non-null  int64
 5   ever_married       43400 non-null  object
 6   work_type          43400 non-null  object
 7   residence_type     43400 non-null  object
 8   avg_glucose_level  43400 non-null  float64
 9   bmi                41938 non-null  float64
 10  smoking_status     30108 non-null  object
 11  stroke             43400 non-null  int64
dtypes: float64(3), int64(4), object(5)
memory usage: 4.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43400 entries, 0 to 43399
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 43400 non-null  int64
 1   gender             43400 non-null  object
 2   age                43400 non-null  float64
 3   hypertension       43400 non-null  int64
 4   heart_disease      43400 non-null  int64
 5   ever_married       43400 non-null  object
 6   work_type          43400 non-null  object
 7   residence_type     43400 non-null  object
 8   avg_glucose_level  43400 non-null  float64
 9   bmi                41938 non-null  float64
 10  smoking_status     30108 non-null  object
 11  stroke             43400 non-null  int64
dtypes: float64(3), int64(4), object(5)
memory usage: 4.0+ MB

(None,
 False    43400
 dtype: int64,
 id                       0
 gender                   0
 age                      0
 hypertension             0
 heart_disease            0
 ever_married             0
 work_type                0
 residence_type           0
 avg_glucose_level        0
 bmi                   1462
 smoking_status       13292
 stroke                   0
 dtype: int64)

In [36]:
#calculate the median of bmi
median_bmi = df["bmi"].median()

In [37]:
#substitue the missing values of bmi with its median
df["bmi"] = df["bmi"].fillna(median_bmi)

In [38]:
# check that the substitution worked
df.isnull().sum()

id                       0
gender                   0
age                      0
hypertension             0
heart_disease            0
ever_married             0
work_type                0
residence_type           0
avg_glucose_level        0
bmi                      0
smoking_status       13292
stroke                   0
dtype: int64

In [39]:
df['smoking_status'].unique()

array([nan, 'never smoked', 'formerly smoked', 'smokes'], dtype=object)

In [ ]:
#get your log regression model
#fit it to your data
#define X define y, train test split(), fit()

In [ ]:
evaluate model
- confusion matrix
-accuracy score