In [1]:
import pymysql
import sqlalchemy
from sqlalchemy import inspect
from sqlalchemy import create_engine
import pandas as pd

In [2]:
import getpass #optional - to anonymize the password

In [3]:
password = getpass.getpass()

········

In [6]:
#create a connection

connection_string = 'mysql+pymysql://root:'+password+'@localhost/bank'  
engine = create_engine(connection_string)

In [7]:
df=pd.read_sql_query("SELECT l.account_id, l.loan_id, t.trans_id, t.amount as trans_amount, t.balance, t.k_symbol, l.amount as loan_amount, l.status, l.duration, l.payments from trans t join loan l using(account_id) where status in ('A','B')", engine)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74364 entries, 0 to 74363
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   account_id    74364 non-null  int64
 1   loan_id       74364 non-null  int64
 2   trans_id      74364 non-null  int64
 3   trans_amount  74364 non-null  float64
 4   balance       74364 non-null  float64
 5   k_symbol      74364 non-null  object
 6   loan_amount   74364 non-null  int64
 7   status        74364 non-null  object
 8   duration      74364 non-null  int64
 9   payments      74364 non-null  float64
dtypes: float64(3), int64(5), object(2)
memory usage: 5.7+ MB

In [10]:
df.to_csv('loan_trans.csv', index=False)

In [11]:
df['k_symbol'].unique()

array(['', 'UROK', ' ', 'SIPO', 'SLUZBY', 'POJISTNE', 'UVER',
       'SANKC. UROK'], dtype=object)

In [12]:
df['k_symbol'].value_counts() #check how many blanks we have in k_symbol

               35953
UROK           14646
SLUZBY         11306
SIPO            5081
                3018
UVER            2893
POJISTNE        1159
SANKC. UROK      308
Name: k_symbol, dtype: int64

In [13]:
#drop k_symbol because we have too many blanks, we can't have blanks or nan
df=df.drop(['k_symbol'],axis=1)

# set target laber and features

In [22]:
y= df['status']

In [23]:
X = df.drop(['status'], axis = 1)

# 5 option rescale

# 6 import model loigistic regression

In [24]:
import sklearn
from sklearn.linear_model import LogisticRegression

In [25]:
logreg = LogisticRegression

# 7 train test split

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=.033, random_state=40)

# 8 run model