# imbalanced data

In [1]:
import pymysql
import sqlalchemy
from sqlalchemy import inspect
from sqlalchemy import create_engine
import pandas as pd

In [2]:
df = pd.read_csv('strokes_data.csv')

In [3]:
df['stroke'].value_counts()

0    42617
1      783
Name: stroke, dtype: int64

#methods to mitigate class imbalance
- downsampling (use less samples from the majority class)
- upsampling (simulate new data to

# EDA / identify problems and fix these - with LOG REG
- drop duplicates
- replace nulls
- encode strings as numbers
- (optional) scale numeric variables

In [4]:
def EDA(df):
    df.info()
    no_dupl = df.duplicated().value_counts()
    df.columns=df.columns.str.lower()
    df.columns=df.columns.str.replace(' ','_', regex=True)
    no_nulls=df.isnull().sum()
    return (df.info(), no_dupl, no_nulls)

In [5]:
EDA(df);

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43400 entries, 0 to 43399
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 43400 non-null  int64
 1   gender             43400 non-null  object
 2   age                43400 non-null  float64
 3   hypertension       43400 non-null  int64
 4   heart_disease      43400 non-null  int64
 5   ever_married       43400 non-null  object
 6   work_type          43400 non-null  object
 7   Residence_type     43400 non-null  object
 8   avg_glucose_level  43400 non-null  float64
 9   bmi                41938 non-null  float64
 10  smoking_status     30108 non-null  object
 11  stroke             43400 non-null  int64
dtypes: float64(3), int64(4), object(5)
memory usage: 4.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43400 entries, 0 to 43399
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 43400 non-null  int64
 1   gender             43400 non-null  object
 2   age                43400 non-null  float64
 3   hypertension       43400 non-null  int64
 4   heart_disease      43400 non-null  int64
 5   ever_married       43400 non-null  object
 6   work_type          43400 non-null  object
 7   residence_type     43400 non-null  object
 8   avg_glucose_level  43400 non-null  float64
 9   bmi                41938 non-null  float64
 10  smoking_status     30108 non-null  object
 11  stroke             43400 non-null  int64
dtypes: float64(3), int64(4), object(5)
memory usage: 4.0+ MB

In [6]:
#calculate the median of bmi
median_bmi = df["bmi"].median()

In [7]:
#substitue the missing values of bmi with its median
df["bmi"] = df["bmi"].fillna(median_bmi)

In [8]:
df["smoking_status"] = df["smoking_status"].fillna('unknown')

In [9]:
# check that the substitution worked
df.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [10]:
df.columns

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [11]:
df['gender'].value_counts()

Female    25665
Male      17724
Other        11
Name: gender, dtype: int64

In [12]:
pd.get_dummies(df['gender'])

       Female  Male  Other
0           0     1      0
1           0     1      0
2           1     0      0
3           1     0      0
4           0     1      0
...       ...   ...    ...
43395       1     0      0
43396       1     0      0
43397       1     0      0
43398       0     1      0
43399       1     0      0

[43400 rows x 3 columns]

In [13]:
df['hypertension'].unique()

array([0, 1], dtype=int64)

In [14]:
df['heart_disease'].unique()

array([0, 1], dtype=int64)

In [15]:
df['ever_married'].unique()

array(['No', 'Yes'], dtype=object)

In [16]:
pd.get_dummies(df['ever_married'])

       No  Yes
0       1    0
1       0    1
2       1    0
3       0    1
4       1    0
...    ..  ...
43395   1    0
43396   0    1
43397   0    1
43398   0    1
43399   0    1

[43400 rows x 2 columns]

In [17]:
df['work_type'].unique()

array(['children', 'Private', 'Never_worked', 'Self-employed', 'Govt_job'],
      dtype=object)

In [18]:
pd.get_dummies(df['work_type'])

       Govt_job  Never_worked  Private  Self-employed  children
0             0             0        0              0         1
1             0             0        1              0         0
2             0             0        1              0         0
3             0             0        1              0         0
4             0             1        0              0         0
...         ...           ...      ...            ...       ...
43395         0             0        0              0         1
43396         1             0        0              0         0
43397         0             0        1              0         0
43398         0             0        1              0         0
43399         0             0        1              0         0

[43400 rows x 5 columns]

In [19]:
df['residence_type'].unique()

array(['Rural', 'Urban'], dtype=object)

In [20]:
pd.get_dummies(df['residence_type'])

       Rural  Urban
0          1      0
1          0      1
2          0      1
3          1      0
4          1      0
...      ...    ...
43395      0      1
43396      0      1
43397      0      1
43398      0      1
43399      0      1

[43400 rows x 2 columns]

In [21]:
df['stroke'].unique()

array([0, 1], dtype=int64)

In [22]:
#define y
y = df['stroke']

In [23]:
y.shape()

TypeError: 'tuple' object is not callable

In [ ]:
#define X df[['col1', 'col2']]
X = df.drop(df['stroke'])
#X= df[['gender','age','hypertension', 'heart_disease', 'ever_married',
       #'work_type', 'residence_type', 'avg_glucose_level', 'bmi',
       #'smoking_status']]

In [26]:
import sklearn
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [25]:
logreg = LogisticRegression(max_iter=300) #set up

NameError: name 'LogisticRegression' is not defined

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=40)

In [24]:
#Train the logistic regression model using X_trai and y_train as input.
model1=logreg.fit(X_train,y_train)

NameError: name 'logreg' is not defined

In [ ]:
df['smoking_status'].unique()

In [ ]:
#get your log regression model
#fit it to your data
#define X define y, train test split(), fit()

In [ ]:
evaluate model
- confusion matrix
-accuracy score